<p-toast position="top-center" key="exibir"></p-toast>
<p-toast position="center" key="confirmar" (onClose)= "onReject()" [baseZIndex]= "5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button id="button-message" type="button" pButton (click)= "onConfirm()" label="Sim"
                        class="p-button-success" icon="pi pi-check" iconPos="left"></button>
                </div>
                <div class="p-col-6">
                    <button id="button-message" type="button" pButton (click)= "onReject()"
                        label="Cancelar" class="p-button-danger" icon="pi pi-times"
                        iconPos="left"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="p-panel">
    <p-panel header="Estados">
        <p-toolbar>
            <ng-template pTemplate="left">
                <button pButton label= "Pessoas" (click)= "listaDePessoas()"
                    class="p-button-success" icon="pi pi-user" iconPos="left"></button>
                <button pButton label= "Cidades" (click)= "listaDeCidades()"
                    class="p-button-success" icon="pi pi-home" iconPos="left"></button>    
            </ng-template>
            <ng-template pTemplate="right">
                <button pButton label= "Adicionar" (click)= "Adicionar()"
                    class="p-button-success" icon="pi pi-plus" iconPos="left"></button>
            </ng-template>
        </p-toolbar>
        <p-table [value]= "estados" class="table-striped" [paginator]= "true" [rows]= "5">
            <ng-template pTemplate="header">
                <tr>
                    <th> Nome </th>
                    <th> Sigla </th>
                    <th> Opções </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-estado>
                <tr>
                    <td> {{ estado.nome }} </td>
                    <td> {{ estado.sigla }} </td>
                    <td>
                        <button  pButton (click)= "updateEstado(estado.id)" type="button" class="p-button-primary"
                        label="Editar" icon="pi pi-pencil" iconPos="left"></button>

                        <button pButton (click)= "delete(estado.id)" type="button" class="p-button-danger"
                        label="Apagar" icon="pi pi-trash" iconPos="left"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>